language: cpp

os:
  - windows

compiler:
  - g++
  - clang++

branches:
  only:
    - master
    - integration

before_install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt -q update; fi
  #- if [ "$TRAVIS_OS_NAME" = "windows" ]; then choco upgrade all; fi

install:
  # install packages on linux
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt -y install python3; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo pip3 install conan; fi
  # install packages on windows
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then choco install python; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then python -m pip install conan; fi

after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL
after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL

script:
  - mkdir build;
  - cd build;
  - conan install .. --build missing -s build_type=Debug;
  - cmake ..;
  - cmake --build . --config Debug --parallel