language: cpp

os:
  - windows
  #- linux

compiler:
  - clang++

branches:
  only:
    - master
    - integration

before_install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt -q update; fi
  #- if [ "$TRAVIS_OS_NAME" = "windows" ]; then choco upgrade all; fi

install:
  # install packages on linux
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt -y install clang-8; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt -y install python3; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo pip install conan; fi

  # windows
  # install choco packages
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then choco install python; fi

  # install python packages
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then pip3 install conan; fi

  # install conan packages

after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x ./send.sh
  - ./send.sh success $WEBHOOK_URL
after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x ./send.sh
  - ./send.sh failure $WEBHOOK_URL

script:
  - mkdir build;
  - cd build;
  - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan;
  - conan install .. --build missing -s build_type=Debug;
  - cmake ..;
  - cmake --build . --config Debug --parallel