branches:
  only:
    - master
    - integration

image:
  - Visual Studio 2019

install:
  - python -m pip install conan

build_script:
  - mkdir build
  - cd build
  - conan install .. --build missing -s build_type=Debug

