branches:
  only:
    - master
    - integration

image:
  - Visual Studio 2019

install:
  - python -m pip install conan
  - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan;

build_script:
  - mkdir build
  - cd build
  - conan install .. --build missing -s build_type=Debug
  - cmake ..
  - cmake --build . --config Debug --parallel

