branches:
  only:
    - master
    - integration

image:
  - Visual Studio 2019
  - Ubuntu

install:
  - cmd: pip install conan
  - sh: sudo pip install conan
  - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan;

build_script:
  - mkdir build
  - cd build
  - conan install .. --build missing -s build_type=Debug
  - cmake ..
  - cmake --build . --config Debug --parallel

on_success:
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/DiscordHooks/appveyor-discord-webhook/master/send.ps1 -o send.ps1
  - ps: ./send.ps1 success $env:WEBHOOK_URL

on_failure:
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/DiscordHooks/appveyor-discord-webhook/master/send.ps1 -o send.ps1
  - ps: ./send.ps1 failure $env:WEBHOOK_URL

