
version: 2.1

orbs:
  codecov: codecov/codecov@1.0.4
  win: circleci/windows@2.2.0

jobs:
  build-windows:
    executor: win/default
    steps:
      - checkout
      - run: mkdir build
      - run: choco install conan 
      - run: choco install cmake --installargs 'ADD_CMAKE_TO_PATH=System'
      - run: refreshenv
      - run: conan remote add conan-bintray https://api.bintray.com/conan/bincrafters/public-conan
      - run:  conan remote add darcamo-bintray https://api.bintray.com/conan/darcamo/cppsim
      - run: cd build
      - run: conan install .. --build missing -s build_type=Debug
      - run: cd build; cmake ..; cmake --build . --config Debug --parallel

workflows:
  ci:
    jobs:
      - build-windows:
        filters:
          branches:
            only:
              - master
              - integration
