
jobs:
  build:
    filters:
      branches:
        only:
          - master
          - integration
    steps:
      - checkout
      - run: |
        mkdir build
      - run: |
        choco install conan 
        choco install cmake --installargs 'ADD_CMAKE_TO_PATH=System'
      - run: |
        refreshenv
      - run: |
        conan remote add conan-bintray https://api.bintray.com/conan/bincrafters/public-conan
        conan remote add darcamo-bintray https://api.bintray.com/conan/darcamo/cppsim
      - run: |
        cd build
        conan install .. --build missing -s build_type=Debug
      - run: |
        cd build
        cmake ..
        cmake --build . --config Debug --parallel

workflows:
  version: 2
  platform: windows
  build-win:
    - build