version: 2.1

orbs:
  win: circleci/windows@2.2.0

jobs:
  build-windows:
    executor:
      name: win/default

    steps:
    - checkout
    - run:
      name: "Make Build Folder"
      command: mkdir build
    - run:
      name: "Install Dependancies"
      command: choco install conan; cd build; conan install .. --build missing -s build_type=Debug; cd ..
    - run:
      name: "Generate CMAKE file"
      command: cmake ..
    - run:
      name: "Build"
      command: cmake --build . --config Debug --parallel
    - run:
      name: "Test"
      command: 
    - store_artifacts:
      path: .\build\bin\fh.exe