name: CI
# triggers on push
on:
  push:
    branches:
      - master
      - integration

jobs:
  build:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v2
      - name: Install Conan
        run: choco install conan
        # run: choco install cmake --installargs 'ADD_CMAKE_TO_PATH=System'       # uneeded for windows-2019, v3.17.2 is installed by default
      - name: Refresh Environment
        run: refreshenv # refresh env so that path is updated
      - name: Check Conan Install Works
        run: if((Get-Command "conan") -eq $null) {Write-Host "REEEEEEEEE";}
      - name: Add Bincrafters To Remotes
        run: conan remote add conan-bincrafters https://api.bintray.com/conan/bincrafters/public-conan
      - name: Add Darcamo To Remotes
        run: conan remote add darcamo-bintray https://api.bintray.com/conan/darcamo/cppsim
      - name : Install Conan Libraries
        run: conan install .. --build missing -s build_type=Debug -if ./build
      - name: Generate CMake Files
        run: cmake -E chdir ./build cmake ..
      - name: Build
        run: cmake -E chdir ./build cmake --build . --config Debug --parallel
